.form {
    font-size: 16px;
    flex-direction: column; 
    gap: 10px;
    display: block;
    width: 50%;
    margin: 100px auto;
    background-color: rgb(247, 247, 247);
    padding: 10px 25px;
}

.link {

    display: block;
    text-align: center;
}
